@media screen and (max-width: 900px) {

    header{
        padding: 0;
        min-height: 100vh !important;
        overflow:scroll;
    }
    
    .the-title{
        h2{
            font-size: 2.5rem;

            span{
                font-size: 3rem;
            }

            .bg-text{
                font-size: 3.5rem;
            }
        }
    }
    .header-content{
        display: grid;
        grid-template-columns: 1fr;
        

        .left-header{
            .h-shape {
                display: none;
            }
        }

        .right-header {
            grid-row: 1;
            padding: 2rem 5rem;
            margin-right: 2rem;
            h1{
                font-size: 2rem;
            }
        }
    }

    .controls {
        flex-direction: initial;
    
        top: auto;
        bottom: 0;
        justify-content: space-evenly;
        align-items: center;
        left: 50%;
        transform: translateX(-60%);
        // transform: translateY(-10%);
        .control{
           
           margin-bottom: 1.5rem;
            // padding: 0 1.4rem;
        }
    }

    .theme-control{
        right: 2.5rem;
    }

    .about-content{
        grid-template-columns: 1fr;
        .right-content{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;

        }
        .left-content{
            padding-right: 0;
            p {
                padding-left: 0;
            }
        }
    }

    .section{
        padding: 2.5rem 2rem;
    }

    .about-stats {
    .progress-bars{
        grid-template-columns: 1fr;
    }
}

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 4rem;

    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 4rem;
    }

    .blog_s {
        grid-template-columns: 1fr;
        padding-bottom: 4rem;
    }

    .contact-content {
        flex-direction: column;

        .right-contact-content {
            margin-left: 0;

           form {
            width: 90%;
            .submit {
                width: 100%
            }
           }
            .cot{
                flex-direction: column;
                :last-child{
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
        }
    }
}
